In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('Basics').getOrCreate()

In [3]:
df = spark.read.json('people.json')

In [4]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [5]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [6]:
df.columns

['age', 'name']

In [7]:
df.describe()

# Spark runs on Java 8, Python 2.7+/3.4+ and R 3.1+. For the Scala API, 
# Spark 2.4.4 uses Scala 2.12. You will need to use a compatible Scala version (2.12.x)

DataFrame[summary: string, age: string, name: string]

In [8]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [9]:
df.describe().show()

# Spark 2.4x doesn't support Java11

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [10]:
df.summary()
# Java 11 properiatory

DataFrame[summary: string, age: string, name: string]

In [10]:
df.columns

['age', 'name']

In [11]:
from pyspark.sql.types import (StructField,StringType,
                               IntegerType,StructType)

In [12]:
data_schema = [StructField('age',IntegerType(), True),
              StructField('name',StringType(), True)]
# Changing age from Long to Integer type

In [13]:
final_struc = StructType(fields=data_schema)

In [14]:
df = spark.read.json('people.json', schema=final_struc)

In [15]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [16]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [17]:
# Grabbing data
df['age'] 

# Here its returning a column

Column<b'age'>

In [18]:
type(df['age'])

pyspark.sql.column.Column

In [19]:
df.select('age')


#Here its giving the dataframe which is a single column output

DataFrame[age: int]

In [20]:
df.select('age').show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [21]:
type(df.select('age'))

pyspark.sql.dataframe.DataFrame

In [22]:
df.head(2)
#We will be getting list of two rows

[Row(age=None, name='Michael'), Row(age=30, name='Andy')]

In [23]:
 df.head(2)[0]

Row(age=None, name='Michael')

In [24]:
type( df.head(2)[0])

pyspark.sql.types.Row

In [25]:
df.select(['age','name'])

DataFrame[age: int, name: string]

In [26]:
df.select(['age','name']).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [27]:
# Adding a column

df.withColumn('newage',df['age'])

DataFrame[age: int, name: string, newage: int]

In [28]:
df.withColumn('newage',df['age']).show()

+----+-------+------+
| age|   name|newage|
+----+-------+------+
|null|Michael|  null|
|  30|   Andy|    30|
|  19| Justin|    19|
+----+-------+------+

In [30]:
df.withColumn('doubleage',df['age']*2).show()

+----+-------+---------+
| age|   name|doubleage|
+----+-------+---------+
|null|Michael|     null|
|  30|   Andy|       60|
|  19| Justin|       38|
+----+-------+---------+

In [31]:
df.show()

# The changes aren't permanent,that we just did above

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [32]:
# Reneaming a column

df.withColumnRenamed('age','mynewage').show()

+--------+-------+
|mynewage|   name|
+--------+-------+
|    null|Michael|
|      30|   Andy|
|      19| Justin|
+--------+-------+

In [33]:
df.createOrReplaceTempView('people')

# We have created / registered a View named as 'People'
# A View is a temproary creation while doing stuffs in SQL for analysis

In [34]:
results = spark.sql("SELECT * FROM people")

In [35]:
results.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [39]:
 new_results = spark.sql('select * from people where age=30')

In [40]:
new_results.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+